<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XML_Parser</title>
</head>
<body>

    <p><b>Содержимое файла:</b></p>
    <p><textarea name="content">{{file_content}}</textarea></p>
    <a class="btn" href="{{ path('get_file') }}" role="button">
        Вернуться
    </a>
</body>
</html>