{% extends 'base.html.twig' %}

{% block title %}Hello ElementController!{% endblock %}

{% block body %}
    <p><b>Выберите XML файл:</b></p>
    <form enctype="multipart/form-data" method="post">
        <p><input type="file" name="xml_file">
        <input type="submit" value="Отправить"></p>
    </form> 

    {% if loaded is defined %}
            <a class="btn" href="{{ path('get_file_content') }}" role="button">
                Показать содержимое файла
            </a>
    {% endif %}

{% endblock %}